<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Подтверждение аккаунта</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height:1.6;">
    <div
      style="max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #eee; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);">
      <h2 style="text-align: center; color: #333;">Добро пожаловать, {{ user.username }}!</h2>
      <p>Для подтверждения вашего аккаунта, пожалуйста, перейдите по ссылке ниже:</p>
      <div style="text-align: center; margin: 40px 0;">
        <a href="http://127.0.0.1:8000/accounts/signup/verification/{{ code }}"
           style="background-color: #007bff; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;"
        >Подтвердить E-mail</a>
      </div>
      <p>Ссылка для подтверждения будет действительна до: <strong>{{ link_valid_until|date:"d M Y H:i" }} (GMT)</strong>
      </p>
      <p>Если вы не создавали этот аккаунт, просто игнорируйте это письмо.</p>
      <hr style="border: none; border-bottom: 1px solid #eee;"/>
      <footer style="text-align: center;">
        <p>С уважением,<br/>{{ settings.SITE_NAME }} Team</p>
      </footer>
    </div>
  </body>
</html>