{% extends 'base.html' %}

{% block title %}
  Profile {{ user.first_name }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="profile-header text-center">
      <h2>Профиль пользователя</h2>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label>Имя:</label>
            <div class="border p-2">{{ user.first_name|default:"-" }}</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label>Фамилия:</label>
            <div class="border p-2">{{ user.last_name|default:"-" }}</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label>Адрес электронной почты:</label>
            <div class="border p-2">{{ user.email|default:"-" }}</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label>Телефон:</label>
            <div class="border p-2">{{ user.phone|default:"-" }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label>Статус активации:</label>
            <div class="border p-2">{{ user.is_active|yesno:"Активен,Не активен" }}</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label>Роль:</label>
            <div class="border p-2">{{ user.is_staff|yesno:"Администратор,Покупатель" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}