body {
    padding-top: 56px;
}

.form-field-help {
    color: #0f5132;
}

.input {
    position: relative;
}

.input_error .input__input {
    border-color: #D64C4C;
}

.input_error .select2-selection {
    border-color: #D64C4C !important;
}

.input_error .input__error {
    display: block;
}

.input_error .btn {
    border-color: #D64C4C;
}

.input__error {
    display: none;
    position: absolute;
    margin-top: -7px;
    left: 5px;
    padding: 2px;
    background-color: #ffffff;
    color: #D64C4C;
    font-size: 20px;
    line-height: 10px;
    z-index: 3;
}

.header-form {
    display: flex;
    margin: 0;
}

.card-custom {
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-custom {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.card-body-custom {
    font-size: 1.2rem;
}

.data-field {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.data-field label {
    font-weight: bold;
}

.profile-header {
    margin-bottom: 30px;
}