{% extends 'base.html' %}
{% load fields %}

{% block content %}
  {% include 'fields/_form_errors.html' with errors=form.non_field_errors %}
  <form novalidate method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <div class="container">
      <div class="row header-form mt-2">
        {% for field in form %}
          <div class="col-md-12 col-xs-12 pb-3">
            {% field_group field %}
          </div>
        {% endfor %}
      </div>
      <input type="submit" value="Register" class="btn btn-success btn btn-lg float-end"/>
    </div>
  </form>

{% endblock %}